body{
	font-size: 16px;
	background-color:purple;
	font-family:'Oxygen', sans-serif;
	color:#fff;
}
/** header **/
#header-nav{
	background-color: yellow;
	border-radius:0;
	border:0;
	height:150px;
}
