body{
	font-size: 16px;
	background-color:purple;
	font-family:'Oxygen', sans-serif;
	color:#fff;
}
/** header **/
#header-nav{
	background-color: pink;
	border-radius:0;
	border:0;
	height:80px;
}
.navbrand{
	padding-top:25px;
}
.navbar-brand h1{
	color:#951C49;
	font-size:2.5em;
	font-weight:bold;
	text-shadow:1px 1px 1px #222;
	margin-top:0;
	margin-bottom:0;
	line-height: .75;
	margin-left:-10px;

}
#nav-list{
	margin-top:10px;
}
#nav-list a{
	color: #951C49;
	text-align:center;
	font-sixe:1.8em;
	background-color: pink;
}
#nav-list a:hover{
	background: #E7E7E7;
}
#main-content{
	background: orange;
	height:1000px
}
#menu-title{
	margin-bottom:15px;
}
#chicken{
	font-size:1.5em;
	font-color:yellow;
}

	


